#imageContent {
    -fx-background-color: chocolate;
}
/*
.root {
    -fx-background-color: yellowgreen;
}*/

.courseSelected {
    -fx-background-color: lightblue;
}

.courseTryUpdate {
    -fx-background-color: lightyellow;
}

.courseUpdated {
    -fx-background-color: lightgreen;
}

.courseError {
    -fx-background-color: lightcoral;
}

.loading {
    -fx-max-height: 20;
}

.image-cell.missing {
    -fx-background-color: #DFB951;
}

.image-cell.complete {
    -fx-background-color: #bbef90;
}
.image-cell.error {
    -fx-background-color: #ff6666;
    -fx-text-fill: white;
}

.image-cell.complete:selected:focused, .image-cell:selected,
.image-cell.missing:selected:focused,
.image-cell.error:selected:focused{
    /*-fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);*/
    -fx-text-fill: white;
    -fx-background-color: #207BCF;
}

.image-name {
    -fx-font-weight: bold;
    -fx-font: 16px "Serif";
    -fx-padding: 3;
}

.positive-count {
    -fx-padding: 3;
}

.negative-count {
    -fx-text-alignment: right;
    -fx-padding: 3;

}

/*******************************************************************************
 *                                                                             *
 * Dialog                                                                      *
 *                                                                             *
 ******************************************************************************/

.dialog-pane {
    -fx-background-color: -fx-background;
    -fx-padding: 0;
}

.dialog-pane > .expandable-content {
    -fx-padding: 0.666em; /* 8px */
}

.dialog-pane > .button-bar > .container {
    -fx-padding: 0.833em; /* 10px */
}

.dialog-pane > .content.label {
    -fx-alignment: top-left;
    -fx-padding: 1.333em 0.833em 0 0.833em; /* 16px 10px 0px 10px */
}

.dialog-pane > .content {
    -fx-padding: 0.833em; /* 10 */
}

.dialog-pane:no-header .graphic-container {
    -fx-padding: 0.833em 0 0 0.833em; /* 10px 0px 0px 10px */
}

.dialog-pane .header-panel {
    /*-fx-padding: 0.833em 1.166em 0.833em 1.166em; *//* 10px 14px 10px 14px */
    -fx-padding: 0.833em; /* 10px */
    -fx-background-color: -fx-box-border, linear-gradient(-fx-background, derive(-fx-background, 30%));
    -fx-background-insets: 0, 0 0 1 0;
}

.dialog-pane .header-panel .label {
    -fx-font-size: 1.167em; /* 14px */
    -fx-wrap-text: true;
}

.dialog-pane .header-panel .graphic-container {
    /* This prevents the text in the header running directly into the graphic */
    -fx-padding: 0 0 0 0.833em; /* 0px 0px 0px 10px */
}
.dialog-pane .button-bar {
  -fx-background-insets: 0, 0 0 0 5;
}

.dialog-pane .button-bar .details-button {
  -fx-alignment: baseline-right;
  -fx-focus-traversable: false;
  -fx-margin: 0 0 0 0.833em;
  -fx-padding: 0.416em; /* 5px */
  /*-fx-underline: true;*/
}

.dialog-pane .button-bar .details-button.more {
    -fx-graphic: url("dialog-more-details.png");
}

.dialog-pane .button-bar .details-button.less {
    -fx-graphic: url("dialog-fewer-details.png");
}

.alert.confirmation.dialog-pane,
.text-input-dialog.dialog-pane,
.choice-dialog.dialog-pane {
    -fx-graphic: url("dialog-confirm.png");
}

.alert.information.dialog-pane {
    -fx-graphic: url("dialog-information.png");
}

.alert.error.dialog-pane {
    -fx-graphic: url("dialog-error.png");
}

.alert.warning.dialog-pane {
    -fx-graphic: url("dialog-warning.png");
}
